<div class="container">
  <div class="row">
    <div class="col s12 hello">
      <div class="section brand-logo">
        <h1>Come Shred With Us!</h1>
        <h4>  &emsp; Come Shred is a community. A place to meet people to skate, bike, surf,
          rollerblade, and/or scooter with. More importantly, you can find new spots
          on our Map to shred, spots that you didn't know about before! You can add places
          that aren't on the Map too, helping our community to grow.</h4>
      </div>
      <div class="section">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal_signup">Sign Up!</a>
        <a class="waves-effect waves-light btn modal-trigger" href="#modal_login">Login</a>
      </div>
    </div>
  </div>
</div>

<%= render "shared/sign_up_login_modal" %>
