<nav>
  <div class="nav-wrapper">

    <a href="/beers" class="brand-logo left">ComeShred</a>

    <ul id="nav-mobile" class="right">
      <%if current_page?("/beers")%>
        <li><%= link_to "Profile Page", user_path(current_user[:id]), class: "btn-flat" %></li>
      <%else%>
        <li><%= link_to "Search For Beers", beers_path, class: "btn-flat" %></li>
      <%end%>
      <li><%= link_to "Log Out", logout_path, class: "btn-flat" %></li>
    </ul>
  </div>
</nav>
